.LeftMenuContainer {
  > ul {
    height: 100vh;
    top: 0;
    left: 0;
  }

  .ToggleButtonContainer {
    text-align: center;
    width: 100%;
    
    &.open {
      text-align: right;
    }
  }
}
